@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

html,
body {
	background-color: #e71d36;
	font-family: "Young Serif", serif;
	font-weight: 400;
	font-style: normal;
	overscroll-behavior: none;
}

@theme {
	--color-red: #e71d36;
	--color-blue: #1446a0;
	--color-green: #00916e;
	--color-black: #000000;
	--color-salmon: #e2856e;
}
